<footer>
    <div class="direccion" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="titulo">Contacto</h4>
                    <p class="calle">
                        364 Delaware Avenue <br />Massapequa Park, NY 11762
                    </p>
                    <p class="correo">gabi@gmail.com</p>
                </div>
                <div class="col-md-4 logo">
                    <img src="/img/logo.svg" alt="logo de gabi" width="125px" />
                </div>
            </div>
        </div>
    </div>

    <div class="social">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://www.facebook.com/gabi" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/gabi" class="twitter"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.github.com/gabi" class="youtube"><i class="fa fa-github-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>