<div class="direccion" id="contacto">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-md-6">
                <h4 class="titulo ">Contacto</h4>
                <div id='map'>
                </div>
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="comentario">Comentario</label>
                        <textarea class="form-control" id="comentario" rows="3" placeholder="Comentario"
                            required></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Ld5o7sqAAAAABVICYtYFcdQHj3AierLgkeveye8"></div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-md-6" style="    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 333px;">
                <img src="/img/logo.svg" alt="logo de gabi" width="80%" />
            </div>
        </div>
    </div>
</div>

<script>

    let map = L.map('map')
        .setView([41.66, -4.72], 15);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.control.scale().addTo(map);
    L.marker([41.66, -4.71], { draggable: true }).addTo(map);

    let getIpData = async () => {
        const res = await fetch('https://ipapi.co/json/');
        const data = await res.json();
        return data;
    };


    document.querySelector('form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const local = await getIpData();
        console.log(local);
        const recaptchaResponse = document.getElementById('g-recaptcha-response').value;
        fetch('/contacto/verify-recaptcha', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ token: recaptchaResponse })
        })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.log(data.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                    return;
                }
                const nombre = document.getElementById('nombre').value;
                const email = document.getElementById('email').value;
                const comentario = document.getElementById('comentario').value;

                if (!nombre || !email || !comentario) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        text: 'Complete los campo que faltan.'
                    });
                    return
                }

                fetch('/contacto/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre, email, comentario, ip: local.ip, country: local['country_name'] })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Enviado!',
                                text: 'Tu mensaje ha sido enviado exitosamente.'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Hubo un problema al enviar tu mensaje. Inténtalo de nuevo.'
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un problema al enviar tu mensaje. Inténtalo de nuevo.'
                        });
                    });
            })
            .catch(error => {
                console.error('Error al verificar reCAPTCHA:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Valide el reCaptcha'
                });
            });

    });
</script>