<section class="fotos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Foto 1: Fabricación de muebles a medida -->
                <div class="row foto">
                    <div class="col-xs-4 thumb">
                        <img src="/img/m1.jpg" alt="Fabricación de muebles a medida" />
                    </div>
                    <div class="col-xs-8 texto">
                        <h2 class="titulo azul">
                            Muebles a Medida para Cada Espacio
                        </h2>
                        <p class="parrafo">
                            Creamos muebles personalizados que se ajustan perfectamente a tus necesidades y estilo. Ya
                            sea para el hogar o la oficina, nuestros diseños están pensados para ofrecerte funcionalidad
                            y elegancia en cada rincón.
                        </p>
                    </div>
                </div>

                <!-- Foto 2: Restauración de muebles -->
                <div class="row foto">
                    <div class="col-xs-8 texto">
                        <h2 class="titulo naranja derecha">
                            Restauración de Muebles Antiguos
                        </h2>
                        <p class="parrafo derecha">
                            Recuperamos tus muebles más queridos, devolviéndoles su esplendor original. Utilizamos
                            técnicas especializadas para restaurar y reparar piezas de madera, manteniendo su historia y
                            belleza intactas.
                        </p>
                    </div>
                    <div class="col-xs-4 thumb">
                        <img src="/img/m2.jpg" alt="Restauración de muebles" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>