<section class="precios" id="precio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titulo">Precios</h3>
            </div>
        </div>

        <div class="row">
            <div class="precio col-sm-4">
                <div class="plan verde">
                    <p class="nombre">Básico</p>
                    <p class="precio">$100</p>
                    <ul class="caracteristicas">
                        <li>1 Mueble a medida</li>
                        <li>Elección de materiales básicos</li>
                        <li>Diseño sencillo</li>
                    </ul>
                    <a href="#" class="btn">Contratar Ahora</a>
                </div>
            </div>

            <div class="precio col-sm-4">
                <div class="plan active">
                    <p class="nombre">Standard</p>
                    <p class="precio">$300</p>
                    <ul class="caracteristicas">
                        <li>3 Muebles a medida</li>
                        <li>Elección de materiales premium</li>
                        <li>Diseño personalizado</li>
                    </ul>
                    <a href="#" class="btn">Contratar Ahora</a>
                </div>
            </div>

            <div class="precio col-sm-4">
                <div class="plan naranja">
                    <p class="nombre">Premium</p>
                    <p class="precio">$500</p>
                    <ul class="caracteristicas">
                        <li>Muebles ilimitados</li>
                        <li>Materiales de alta gama</li>
                        <li>Diseños exclusivos y personalizados</li>
                    </ul>
                    <a href="#" class="btn">Contratar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>