<section class="caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titulo">Servicios</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 caracteristica">
                <img src="/img/servicio1.png" alt="" class="icono" />
                <h4 class="primera_linea">Fabricación de Muebles a Medida</h4>
                <p class="parrafo">
                    Creamos muebles personalizados para todo tipo de espacios. Desde mesas, sillas hasta estanterías,
                    adaptados a tus necesidades y estilo.
                </p>
            </div>
            <div class="col-sm-4 caracteristica">
                <img src="/img/servicio2.jpg" alt="" class="icono" />
                <h4 class="primera_linea">Restauración de Muebles</h4>
                <p class="parrafo">
                    Recuperamos tus muebles antiguos, devolviéndoles su belleza original mediante restauraciones y
                    reparaciones especializadas.
                </p>
            </div>
            <div class="col-sm-4 caracteristica">
                <img src="/img/servicio3.jpg" alt="" class="icono" />
                <h4 class="primera_linea">Instalación de Estructuras de Madera</h4>
                <p class="parrafo">
                    Ofrecemos servicios de instalación de estructuras de madera para tu hogar o negocio, como puertas,
                    ventanas y paneles decorativos.
                </p>
            </div>
        </div>
    </div>
</section>